/* color palet 

red: #E62F2C;
green: #4A4A15;
blue: #49ACF2;
blue2: #1E4663;
grey: #F2EEED; 

*/

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: fff;

}

section {
    padding: 200px;
    margin: 10px auto;
    max-width: 800px;
    border-radius: 0px;
}

.section-object {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

header {
    background: #3c6997;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1, h2 {
    margin: 0px;
    font-weight: bolder;
}

h1 {
    font-size: 3.2em;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.0em;
    text-align: center;
    color: white;
    background-color: #1E4663;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}

h3 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 2px;
}

.caption-banner {
    font-style: italic;
    font-size: 500;
}

a {
    color: #fff;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 20px;
    background: #1E4663;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.08);
    transition-duration: 0.5s;
}

/* Service Grid */
#services-expertise {
    padding: 20px;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.service-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 28px;
}


.analyics-reporting-visualization-icon i {
    font-size: 14px;
}

.service-card-title {
    font-size: 1.0em;
    font-weight: bold;
    color: white;
    background-color: #49ACF2;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}

.service-card-subtitle {
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.service-card-list {
    font-size: 0.8em;
    list-style-type: disc;
    text-align: left;
    margin: 0;
    position: relative;
}

.service-card-list::before {
    content:"";
    display: block;
    height: 1px;
    background-color: #F2EEED;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}   

/* FAQ menu */
.faq {
    margin-bottom: 1em;
}

.faq-question {
    cursor: pointer;
    background-color: #1E4663;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}


.faq-answer {
    display: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #E7F4FD;
}

.faq-line {
    flex-grow: 1;
    height: 1px;
    background-color: white;
    margin-left: 20px;
    margin-right: 30px;
    position: relative;
}

.faq-line::after {
    content: " +";
    position: absolute;
    font-weight: bold;
    right: -20px;
    top: -28px;
    font-size: 1.8em;
    z-index: 1;
}

.faq-line:hover::after {
    animation: float 0.8s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Mega Menu Styles */
nav {
    background: #3c6997; /* Updated to the specified blue */
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover > a {
    background: #2a4d66; /* Darker shade for hover effect */
}

nav ul li:hover .mega-menu {
    display: block; /* Show mega menu on hover */
}

.mega-menu {
    display: none; /* Hide mega menu by default */
    position: absolute;
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    top: 100%; /* Position below the parent */
    left: 0;
    z-index: 1000;
}

.mega-menu ul {
    display: flex;
    flex-direction: column;
}

.mega-menu ul li {
    margin: 10px 0;
}

.mega-menu ul li a {
    color: #3c6997; /* Link color in mega menu */
}

/* Footer Style */

footer {
    padding: 10px;
    background: #1E4663;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #1E4663;
}

.footer-column {
    flex: 1;
    margin: 30px;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0px;
}

/* Banner design */
#banner {
    position: relative;
    height: 400px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333; /* Text color */
}

svg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}


/* Modal styles */
.modal {
/*    display: none;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: blue;
    background-color: red;
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Icons */
.vscode-icons--file-type-excel {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3ClinearGradient id='vscodeIconsFileTypeExcel0' x1='4.494' x2='13.832' y1='-2092.086' y2='-2075.914' gradientTransform='translate(0 2100)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2318884f'/%3E%3Cstop offset='.5' stop-color='%23117e43'/%3E%3Cstop offset='1' stop-color='%230b6631'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='%23185c37' d='M19.581 15.35L8.512 13.4v14.409A1.19 1.19 0 0 0 9.705 29h19.1A1.19 1.19 0 0 0 30 27.809V22.5Z'/%3E%3Cpath fill='%2321a366' d='M19.581 3H9.705a1.19 1.19 0 0 0-1.193 1.191V9.5L19.581 16l5.861 1.95L30 16V9.5Z'/%3E%3Cpath fill='%23107c41' d='M8.512 9.5h11.069V16H8.512Z'/%3E%3Cpath d='M16.434 8.2H8.512v16.25h7.922a1.2 1.2 0 0 0 1.194-1.191V9.391A1.2 1.2 0 0 0 16.434 8.2' opacity='0.1'/%3E%3Cpath d='M15.783 8.85H8.512V25.1h7.271a1.2 1.2 0 0 0 1.194-1.191V10.041a1.2 1.2 0 0 0-1.194-1.191' opacity='0.2'/%3E%3Cpath d='M15.783 8.85H8.512V23.8h7.271a1.2 1.2 0 0 0 1.194-1.191V10.041a1.2 1.2 0 0 0-1.194-1.191' opacity='0.2'/%3E%3Cpath d='M15.132 8.85h-6.62V23.8h6.62a1.2 1.2 0 0 0 1.194-1.191V10.041a1.2 1.2 0 0 0-1.194-1.191' opacity='0.2'/%3E%3Cpath fill='url(%23vscodeIconsFileTypeExcel0)' d='M3.194 8.85h11.938a1.193 1.193 0 0 1 1.194 1.191v11.918a1.193 1.193 0 0 1-1.194 1.191H3.194A1.19 1.19 0 0 1 2 21.959V10.041A1.19 1.19 0 0 1 3.194 8.85'/%3E%3Cpath fill='%23fff' d='m5.7 19.873l2.511-3.884l-2.3-3.862h1.847L9.013 14.6c.116.234.2.408.238.524h.017q.123-.281.26-.546l1.342-2.447h1.7l-2.359 3.84l2.419 3.905h-1.809l-1.45-2.711A2.4 2.4 0 0 1 9.2 16.8h-.024a1.7 1.7 0 0 1-.168.351l-1.493 2.722Z'/%3E%3Cpath fill='%2333c481' d='M28.806 3h-9.225v6.5H30V4.191A1.19 1.19 0 0 0 28.806 3'/%3E%3Cpath fill='%23107c41' d='M19.581 16H30v6.5H19.581Z'/%3E%3C/svg%3E");
}

.logos--microsoft-power-bi {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 342'%3E%3Cdefs%3E%3ClinearGradient id='logosMicrosoftPowerBi0' x1='42.593%25' x2='57.245%25' y1='0%25' y2='93.174%25'%3E%3Cstop offset='0%25' stop-color='%23e6ad10'/%3E%3Cstop offset='100%25' stop-color='%23c87e0e'/%3E%3C/linearGradient%3E%3ClinearGradient id='logosMicrosoftPowerBi1' x1='40.122%25' x2='62.028%25' y1='0%25' y2='95.592%25'%3E%3Cstop offset='0%25' stop-color='%23f6d751'/%3E%3Cstop offset='100%25' stop-color='%23e6ad10'/%3E%3C/linearGradient%3E%3ClinearGradient id='logosMicrosoftPowerBi2' x1='27.774%25' x2='55.012%25' y1='0%25' y2='96.828%25'%3E%3Cstop offset='0%25' stop-color='%23f9e589'/%3E%3Cstop offset='100%25' stop-color='%23f6d751'/%3E%3C/linearGradient%3E%3Cpath id='logosMicrosoftPowerBi3' d='M142.222 14.222C142.222 6.368 148.59 0 156.444 0h85.334C249.632 0 256 6.368 256 14.222v312.89c0 7.854-6.368 14.221-14.222 14.221H14.222C6.368 341.333 0 334.966 0 327.111V184.89c0-7.855 6.368-14.222 14.222-14.222h56.89V99.556c0-7.855 6.367-14.223 14.222-14.223h56.888z'/%3E%3C/defs%3E%3Cmask id='logosMicrosoftPowerBi4' fill='%23fff'%3E%3Cuse href='%23logosMicrosoftPowerBi3'/%3E%3C/mask%3E%3Cpath fill='url(%23logosMicrosoftPowerBi0)' d='M256 0v341.333H142.222V0z' mask='url(%23logosMicrosoftPowerBi4)'/%3E%3Cpath fill-opacity='0.2' d='M184.889 100.978v241.778H71.11v-256h99.556c7.854 0 14.222 6.367 14.222 14.222' mask='url(%23logosMicrosoftPowerBi4)'/%3E%3Cpath fill-opacity='0.18' d='M184.889 106.667v241.777H71.11v-256h99.556c7.854 0 14.222 6.368 14.222 14.223' mask='url(%23logosMicrosoftPowerBi4)'/%3E%3Cpath fill='url(%23logosMicrosoftPowerBi1)' d='M184.889 99.556v241.777H71.11v-256h99.556c7.854 0 14.222 6.368 14.222 14.223' mask='url(%23logosMicrosoftPowerBi4)'/%3E%3Cpath fill='url(%23logosMicrosoftPowerBi2)' d='M0 170.667v170.666h113.778V184.89c0-7.855-6.368-14.222-14.222-14.222z' mask='url(%23logosMicrosoftPowerBi4)'/%3E%3C/svg%3E");
}

.logos--looker {
  display: inline-block;
  width: 3.74em;
  height: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 137'%3E%3Cpath fill='%2334a853' d='M41.894 0a11.893 11.893 0 0 0-9.865 18.527l5.08-5.073a5.015 5.015 0 1 1 3.202 3.195l-5.072 5.073A11.885 11.885 0 1 0 41.894 0'/%3E%3Cpath fill='%23fbbc04' d='M37.166 34.639a18.48 18.48 0 0 0-3.704-11.133l-6.591 6.584a9.45 9.45 0 0 1-1.805 11.405l3.582 8.755a18.58 18.58 0 0 0 8.518-15.611'/%3E%3Cpath fill='%23ea4335' d='M18.747 44.088h-.172a9.457 9.457 0 1 1 5.194-17.358l6.526-6.527a18.584 18.584 0 1 0-11.72 33.02c1.26 0 2.518-.124 3.754-.373z'/%3E%3Cpath fill='%234285f4' d='M42.145 51.661a42.2 42.2 0 0 0-12.18 1.784l5.224 12.76a28.8 28.8 0 0 1 6.949-.846c13.571.004 25.25 9.594 27.895 22.905s-4.481 26.638-17.02 31.83c-12.54 5.19-27 .802-34.54-10.483c-7.538-11.285-6.056-26.324 3.54-35.92a28.7 28.7 0 0 1 6.785-5.015l-5.165-12.724c-19.255 9.43-28.37 31.804-21.19 52.005c7.182 20.2 28.376 31.8 49.262 26.96c20.885-4.841 34.817-24.58 32.38-45.88S63.62 51.653 42.181 51.654z'/%3E%3Cpath fill='%235f6368' d='M234.396 49.784a34.07 34.07 0 0 1 12.66 13.26a38.36 38.36 0 0 1 4.534 18.542a38.36 38.36 0 0 1-4.535 18.54a34.07 34.07 0 0 1-12.652 13.262a36.66 36.66 0 0 1-36.537 0l-.007-.029a33.97 33.97 0 0 1-12.652-13.26a38.3 38.3 0 0 1-4.535-18.542a38.3 38.3 0 0 1 4.535-18.512a33.97 33.97 0 0 1 12.652-13.261a36.66 36.66 0 0 1 36.537 0m77.073 0a34 34 0 0 1 12.659 13.26a38.36 38.36 0 0 1 4.535 18.542a38.36 38.36 0 0 1-4.535 18.54a34 34 0 0 1-12.652 13.262a36.66 36.66 0 0 1-36.538 0l-.007-.029a34.07 34.07 0 0 1-12.652-13.26a38.36 38.36 0 0 1-4.535-18.542a38.36 38.36 0 0 1 4.535-18.512a34.07 34.07 0 0 1 12.652-13.261a36.66 36.66 0 0 1 36.538 0m119.018-4.915q10.144 0 17.596 4.535a30.16 30.16 0 0 1 11.462 12.523a40.36 40.36 0 0 1 3.97 18.312a24 24 0 0 1-.273 3.518h-54.699q.41 7.88 3.79 13.268a22.13 22.13 0 0 0 8.597 8.117a23.3 23.3 0 0 0 10.897 2.708q13.526 0 20.432-12.452l9.744 4.736a34.3 34.3 0 0 1-12.043 13.196q-7.716 4.88-18.541 4.88a33.6 33.6 0 0 1-17.732-4.715a32.87 32.87 0 0 1-12.25-13.06a39.5 39.5 0 0 1-4.392-18.763a41.2 41.2 0 0 1 4.14-18.319a33.16 33.16 0 0 1 11.772-13.469a31.34 31.34 0 0 1 17.53-5.015M137.02 17.438v89.502h43.652v11.27h-55.508V17.437zm212.01 0v63.704l35.678-36.244h15.045v.559l-30.09 30.383l28.729 41.84v.53h-14.214l-22.875-34.174l-12.273 12.301v21.872h-11.85V17.438zm162.972 28.979v12.688a22.2 22.2 0 0 0-10.03-2.236a16.53 16.53 0 0 0-9.486 2.938a21.16 21.16 0 0 0-6.906 7.88A22.9 22.9 0 0 0 483 78.383v39.826h-11.834V44.912h11.29v13.612h.56q2.091-5.86 8.088-9.764a22.7 22.7 0 0 1 12.53-3.883a20.65 20.65 0 0 1 8.368 1.54M216.127 55.3a23.53 23.53 0 0 0-20.776 12.316a28.26 28.26 0 0 0-3.31 13.941a28.24 28.24 0 0 0 3.31 13.942a23.64 23.64 0 0 0 32.619 9.134h-.022a23.5 23.5 0 0 0 8.82-9.134a28.16 28.16 0 0 0 3.317-13.942a28.2 28.2 0 0 0-3.317-13.941a23.5 23.5 0 0 0-8.798-9.135a23.2 23.2 0 0 0-11.843-3.18m77.051 0a23.6 23.6 0 0 0-11.914 3.181a23.35 23.35 0 0 0-8.862 9.135a28.2 28.2 0 0 0-3.317 13.941a28.16 28.16 0 0 0 3.317 13.942a23.35 23.35 0 0 0 8.862 9.134a23.6 23.6 0 0 0 11.914 3.181a23.2 23.2 0 0 0 11.871-3.18h-.028a23.54 23.54 0 0 0 8.797-9.135a28.24 28.24 0 0 0 3.317-13.942a28.26 28.26 0 0 0-3.317-13.941a23.54 23.54 0 0 0-8.797-9.135a23.2 23.2 0 0 0-11.843-3.18M416.69 60.51q-5.681 5.215-7.443 13.74h42.09a22.4 22.4 0 0 0-2.437-8.66a18.7 18.7 0 0 0-6.77-7.308q-4.599-2.98-11.634-2.98a19.72 19.72 0 0 0-13.806 5.208'/%3E%3C/svg%3E");
}

.logos--tableau-icon {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 251'%3E%3Cpath fill='%237099a6' d='M123.929 11.593v11.641h-20.82v7.571h20.82v23.186h8.139V30.805h21.341v-7.571h-21.341V0h-8.139z'/%3E%3Cpath fill='%23eb912c' d='M55.884 41.121v16.893H24.369v10.599h31.515v34.307h11.688V68.613H99.56V58.014H67.572V24.228H55.884z'/%3E%3Cpath fill='%2359879b' d='M187.953 41.121v16.893h-31.515v11.12h31.515v33.786h12.161V69.134h31.514v-11.12h-31.514V24.228h-12.161z'/%3E%3Cpath fill='%23e8762c' d='M120.901 98.661v18.928H85.837v14.101h35.064v37.855h14.196V131.69h35.063v-14.101h-35.063V79.733h-14.196z'/%3E%3Cpath fill='%235b6591' d='M224.01 108.219v11.878h-21.341v9.605h21.341v23.707h10.647v-23.707h21.341v-9.605h-21.341V96.39H224.01z'/%3E%3Cpath fill='%237099a6' d='M20.821 109.26v11.357H0v8.044h20.821v22.714h8.138v-22.714l21.341-.757v-7.287H28.959V97.904h-8.138z'/%3E%3Cpath fill='%23c72035' d='M55.884 162.731v16.893H24.369v11.12h31.515v33.786h12.161v-33.786H99.56v-11.12H68.045v-33.786H55.884z'/%3E%3Cpath fill='%231f447e' d='M187.953 162.731v16.893h-31.515v10.6h31.515v34.306h12.161v-34.306h31.514v-10.6h-31.514v-33.786h-12.161z'/%3E%3Cpath fill='%235b6591' d='M122.936 205.65v11.83h-21.341v9.606h21.341v23.707h10.647v-23.707h21.341v-9.606h-21.341v-23.707h-10.647z'/%3E%3C/svg%3E");
}

.tabler--brand-google-big-query {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M17.73 19.875A2.23 2.23 0 0 1 15.782 21H8.499a2.22 2.22 0 0 1-1.947-1.158l-4.272-6.75a2.27 2.27 0 0 1 0-2.184l4.272-6.75A2.23 2.23 0 0 1 8.498 3h7.285c.809 0 1.554.443 1.947 1.158l3.98 6.75a2.33 2.33 0 0 1 0 2.25l-3.98 6.75z'/%3E%3Cpath d='M8 11.5a3.5 3.5 0 1 0 7 0a3.5 3.5 0 1 0-7 0m6 2.5l2 2'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.raphael--dollar {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M16 1.466C7.973 1.466 1.466 7.973 1.466 16S7.973 30.534 16 30.534S30.534 24.027 30.534 16S24.027 1.466 16 1.466m1.255 22.414v2.047h-1.958v-2.024c-3.213-.44-4.62-3.08-4.62-3.08l2-1.673s1.277 2.223 3.587 2.223c1.276 0 2.244-.683 2.244-1.85c0-2.728-7.35-2.397-7.35-7.458c0-2.2 1.74-3.785 4.138-4.16V5.86h1.958v2.045c1.672.22 3.652 1.1 3.652 2.993v1.452H18.31v-.704c0-.726-.925-1.21-1.96-1.21c-1.32 0-2.287.66-2.287 1.584c0 2.794 7.35 2.112 7.35 7.415c0 2.18-1.628 4.07-4.158 4.445'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.nimbus--marketing {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: black;
  border-radius: 50%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M14.25 2.1a1.25 1.25 0 0 0-1.17-.1L6.91 4.43a1.2 1.2 0 0 1-.46.09H2.5a1.25 1.25 0 0 0-1.25 1.25v.1H0v3h1.25V9a1.25 1.25 0 0 0 1.25 1.22L4 13.4a1.26 1.26 0 0 0 1.13.72h.63A1.25 1.25 0 0 0 7 12.87v-2.53l6.08 2.43a1.3 1.3 0 0 0 .47.09a1.3 1.3 0 0 0 .7-.22a1.25 1.25 0 0 0 .55-1V3.13a1.25 1.25 0 0 0-.55-1.03m-8.5 3.67V9H2.5V5.77zm0 7.1h-.63l-1.23-2.65h1.86zm1.62-3.72A2.3 2.3 0 0 0 7 9V5.7a2.3 2.3 0 0 0 .37-.11l6.18-2.46v8.48zm7.46-3.03v2.5a1.25 1.25 0 0 0 0-2.5'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.logos--segment-icon {
  display: inline-block;
  width: 0.97em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 265'%3E%3Cpath fill='black' d='m233.56 141.927l.17.013l17.892 1.87a4.93 4.93 0 0 1 3.225 1.707l.133.163l-.17.085a4.93 4.93 0 0 1 1.02 3.74a133.27 133.27 0 0 1-41.604 81.083a128.86 128.86 0 0 1-87.629 34.38a127.5 127.5 0 0 1-46.156-8.57l-.802-.312a4.72 4.72 0 0 1-2.686-2.533l-.077-.187a4.9 4.9 0 0 1-.083-3.66l7.062-17.23a4.846 4.846 0 0 1 6.118-2.799l.163.06c36.097 13.939 76.98 6.089 105.349-20.227a104.46 104.46 0 0 0 32.891-63.32a4.93 4.93 0 0 1 5.013-4.27zm-190.08 64.31l.251-.002l.253.002c8.12.093 14.658 6.659 14.746 14.749v.253l-.002.252c-.141 8.284-6.97 14.886-15.254 14.745s-14.885-6.97-14.745-15.254c.139-8.115 6.695-14.615 14.75-14.745M4.93 147.082h146.316a4.973 4.973 0 0 1 4.928 4.844l.002.171v18.316a4.974 4.974 0 0 1-4.76 5.01l-.17.005H4.93A4.975 4.975 0 0 1 0 170.584v-18.659a4.975 4.975 0 0 1 4.755-4.838zM169.56 7.311a4.97 4.97 0 0 1 2.848 2.635a5.1 5.1 0 0 1 0 3.867l-6.375 16.999a4.845 4.845 0 0 1-6.162 2.974A101.23 101.23 0 0 0 62.13 51.252a105.27 105.27 0 0 0-34.507 54.99a4.93 4.93 0 0 1-4.76 3.698h-1.105L4.25 105.733a4.9 4.9 0 0 1-3.103-2.295h-.085A4.93 4.93 0 0 1 .51 99.57a133.4 133.4 0 0 1 44.41-70.204C79.739.7 127.019-7.666 169.56 7.311m-64.807 73.434H251.07a4.97 4.97 0 0 1 4.922 4.67l.008.174v18.317a4.973 4.973 0 0 1-4.76 5.01l-.17.005H104.754a4.97 4.97 0 0 1-4.886-4.842l-.002-.173V85.759a4.97 4.97 0 0 1 4.715-5.008zm101.572-55.883l.252-.002l.253.002c8.12.093 14.658 6.659 14.746 14.748v.253q0 .128-.002.253c-.14 8.284-6.97 14.885-15.254 14.744c-8.284-.14-14.885-6.97-14.744-15.253c.138-8.116 6.694-14.616 14.749-14.745'/%3E%3C/svg%3E");
}

.fluent-mdl2--report-add {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath fill='%23000' d='M1920 1280h-384V384h384zM0 1024h384v640H0zm1408 512h-128v128h-256V0h384zM512 384h384v1280H512zm1536 1280v128h-256v256h-128v-256h-256v-128h256v-256h128v256z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.carbon--software-resource-cluster {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M24 21c-.5 0-1-.2-1.4-.6l-3-3c-.4-.4-.6-.9-.6-1.4s.2-1 .6-1.4l3-3c.4-.4.9-.6 1.4-.6s1 .2 1.4.6l3 3c.4.4.6.9.6 1.4s-.2 1-.6 1.4l-3 3c-.4.4-.9.6-1.4.6m0-8l-3 3l3 3l3-3zm-8 0c-.5 0-1-.2-1.4-.6l-3-3C11.2 9 11 8.5 11 8s.2-1 .6-1.4l3-3c.4-.4.9-.6 1.4-.6s1 .2 1.4.6l3 3c.4.4.6.9.6 1.4s-.2 1-.6 1.4l-3 3c-.4.4-.9.6-1.4.6m0-8l-3 3l3 3l3-3zm0 24c-.5 0-1-.2-1.4-.6l-3-3c-.4-.4-.6-.9-.6-1.4s.2-1 .6-1.4l3-3c.4-.4.9-.6 1.4-.6s1 .2 1.4.6l3 3c.4.4.6.9.6 1.4s-.2 1-.6 1.4l-3 3c-.4.4-.9.6-1.4.6m0-8l-3 3l3 3l3-3zm-8 0c-.5 0-1-.2-1.4-.6l-3-3C3.2 17 3 16.5 3 16s.2-1 .6-1.4l3-3c.4-.4.9-.6 1.4-.6s1 .2 1.4.6l3 3c.4.4.6.9.6 1.4s-.2 1-.6 1.4l-3 3c-.4.4-.9.6-1.4.6m0-8l-3 3l3 3l3-3z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.iconoir--star {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: black;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m8.587 8.236l2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232l5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07l.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75l-4.202-4.07a.902.902 0 0 1 .503-1.54z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}